@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://source.kizuna.zip/cdn/fonts/css/LINESeedSansTH.css);
@import url(https://fonts.googleapis.com/css?family=Material+Symbols:100,200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Color+Emoji:regular);

@import "tailwindcss";

@theme {
  --color-living-coral: rgb(254, 110, 111);
  --color-jet: rgb(46, 47, 47);
  --color-pastel-black: rgb(10, 10, 10);
  --color-whitesmoke: rgb(245, 245, 245);

  --color-overlay: rgba(0, 0, 0, 0.8);
  --color-drop-overlay: rgba(0, 0, 0, 0.3);

  --color-glass-drop: rgba(245, 245, 245, 0.2);
  --color-glass-border: rgba(245, 245, 245, 0.4);

  --color-online: rgb(79, 136, 50);
  --color-offline: rgb(50, 50, 50);
  --color-dnd: rgb(129, 46, 37);
  --color-idle: rgb(247, 156, 24);
}

* {
  font-family: "Roboto Condensed", "LINESeedSansTH", sans-serif;
  transition: all 0.3s;
}

.icon-font {
  font-family: "Material Symbols", monospace !important;
}

.emoji {
  font-family: "Noto Color Emoji", cursive !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
